.App 
{
  /*text-align: center;*/
}

.App-logo 
{
  height: 40vmin;
}


.App-link 
{
  color: #09d3ac;
}
a
{
    text-decoration-line: none;
}
.navbar
{
    border-radius: 0px !important;
}
body
{
	overflow-y: hidden;
}
.tableContainer
{
	border-radius: 25px;
	overflow-y: scroll;
}
.load-more-button
{
	margin: 2%;
}
.modal-body
{
	overflow-wrap: break-word;
}
